.container {
  margin-bottom: 1rem;
}
.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
.textCard {
  text-align: left;
  margin: 0.2rem 0;
}
.titleHeader {
  font-size: 1rem;
  font-weight: 600;
}
.statusColor {
  color: rgb(215, 123, 3);
  font-weight: 600;
}
