.container {
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.form {
  background-color: black;
  height: 40%;
  width: 80%;
}
@media (max-width: 1600px) {
  .formContainer {
    width: 40%;
    height: 70%;
  }
}
@media (max-width: 1200px) {
  .formContainer {
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 900px) {
  .formContainer {
    width: 99%;
    height: 97%;
  }
}
