.container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  gap: 1rem;

  width: 100%;
  height: 100%;
}
.cardHeader {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 100%;
}
.cardTitle {
  font-size: 1rem;
  font-weight: 500;
}
.cardTitleIcon {
  stroke-width: 0.4;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: start;
}
.cardNumber {
  font-size: 1.4rem;
  font-weight: 700;
}
.cardText {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  text-align: left;
}
