.container {
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
}
.content {
  width: 100%;
  display: flex;
}
.tabs {
  width: 100%;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tabList {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-radius: 7px;
  width: 25%;
  justify-content: space-evenly;
  background-color: var(--tertiary-background-color);
}
.tabItem {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 3px;
  background-color: var(--tertiary-background-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  border-color: transparent;
}
.activeTab {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  border-color: transparent;
  box-shadow: -1px 1px 5px gray;
  transition: 0.3s;
}
.tabPanelContainer {
  width: 100%;
}
.tabPanel {
  width: 100%;
}
