:global(.link) {
  text-decoration: none;
  font-size: 1rem;
  color: var(--quaternary-text-color);
}
:global(.link:hover) {
  text-decoration: underline;
  color: rgb(37 99 235);
}
:global(.tittle) {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  font-weight: bold;
  margin-bottom: 1rem;
}
:global(.text) {
  font-weight: 0;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}
:global(.errorMessage) {
  font-size: 0.9rem;
  color: var(--error-text-color);
}
