.content {
  background-color: rgba(246, 122, 122, 0.636);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 24px;
  right: 5px;
  min-width: 300px;
  max-width: 400px;
  min-height: 30px;

  border-radius: 12px;
}
.labelIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
