.inputsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 47% 47%;
  gap: 1rem;
  height: 90%;
  justify-content: left;
}
.buttonContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  margin-top: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}
.fileInputContainer {
  height: 75%;
  width: 87%;
  background-color: #f5f5f5;
}
.fileButton {
  display: none;
}
