.toggleSwitch {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem 2.2rem;
  width: 100%;
  gap: 12px;
  width: fit-content;
  font-family: sans-serif;
}

.toggleSwitch input {
  display: none;
}

.slider {
  position: relative;
  width: 32%;
  height: 24px;
  background-color: #e3e3e6;
  border-radius: 999px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.slider::before {
  content: '';
  position: absolute;
  height: 75%;
  width: 44%;
  left: 3px;
  top: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider::before {
  transform: translateX(90%);
}

input:checked + .slider {
  background-color: #1a1a1a;
}

.labelText {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
