.actionButton {
  border: none;
  background-color: transparent;
  margin: 0.5rem;
}
.actionsContainer {
  display: flex;
  margin-right: 2rem;
  justify-content: right;
  align-items: center;
  width: 100%;
}
