.actionButton {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--primary-text-color);
}
.actionButton:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}
.actionsContainer {
  display: flex;
  margin-right: 2rem;
  justify-content: right;
  align-items: center;
  width: 100%;
}
