.red {
  color: white;
  background-color: red;
  padding: 0.1rem 0.8rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.3;
}
.green {
  color: white;
  background-color: rgb(34, 197, 94);
  padding: 0.1rem 0.8rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: 500;
  transition: 0.3;
}
